  body {
            background: linear-gradient(135deg, #c7b1083d, #0dd3706c, #0936c800);
            font-family: Arial, sans-serif;
            color: #333;
            text-align: center;
            padding: 20px;
        }

        h1 {
            font-size: 40px;
            background: #66ff61;
            color: white;
            padding: 15px;
            border-radius: 12px;
            width: fit-content;
            margin: auto;
            box-shadow: 0 0 10px rgba(0,0,0,0.3);
        }

        h2 {
            color: white;
            background: #6a5acd;
            padding: 10px;
            border-radius: 10px;
            width: 300px;
            margin: 30px auto 10px;
        }

        input {
            padding: 10px;
            margin: 5px;
            width: 200px;
            border-radius: 8px;
            border: none;
            outline: none;
            box-shadow: 0 0 6px rgba(0,0,0,0.2);
        }

        button {
            padding: 10px 20px;
            background: #ffb400;
            border: none;
            border-radius: 8px;
            font-size: 18px;
            cursor: pointer;
            transition: 0.3s;
        }

        button:hover {
            background: #ffdd55;
            transform: scale(1.1);
        }

        p {
            font-size: 18px;
            margin-top: 10px;
            font-weight: bold;
        }

        span {
            color: #222;
            font-size: 20px;
        }